<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <!-- Link to the CSS file in the static directory -->
    <link rel="stylesheet" href="{{ url_for('static', filename='Style_contacts.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="background-image"></div>
    
    <!-- Navigation Bar -->
    <nav>
        <a href="{{ url_for('map_page') }}">Map</a>
        <a href="{{ url_for('services_page') }}">Our Services</a>
    </nav>

    <!-- Header Section -->
    <header>
        <h2> We are a group of students from the University of Trento </h2>
    </header>

    <!-- Contacts Container -->
    <div class="contacts-container">
        <div class="contact">
            <img src="{{ url_for('static', filename='Images/Davide.jpeg') }}" alt="Person 1">
            <div class="contact-info">
                <p><strong>Cavallaro Davide</strong></p>
                <p>davide.cavallaro-1@studenti.unitn.it</p>
            </div>
        </div>
        <div class="contact">
            <img src="{{ url_for('static', filename='Images/Amalia.jpg') }}" alt="Person 2">
            <div class="contact-info">
                <p><strong>Pelle Maria Amalia</strong></p>
                <p>mariaamalia.pelle@studenti.unitn.it</p>
            </div>
        </div>
    </div>

    <!-- Additional Info Section -->
    <div class="additional-info">
        <p>Check our project on <a href="https://github.com/Cavaxx/Water-Resource-Management-Platform">GitHub!</a></p>
    </div>

    <!-- Footer Section -->
    <footer>
        <p>&copy; Water resources management platform for the 
            <a href="https://unitn.coursecatalogue.cineca.it/insegnamenti/2024/50296_642725_94365/2011/50296/10185?coorte=2023&schemaid=8396">2024BDT</a> project
        </p>
    </footer>
</body>
</html>
