<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trentino Water Facilities Map</title>
    <!-- Link to the CSS file in the static directory -->
    <link rel="stylesheet" href="{{ url_for('static', filename='Style_map.css') }}">
    <!-- Link to the JavaScript file in the static directory -->
    <script src="{{ url_for('static', filename='map_script.js') }}"></script>

    <!-- Inline CSS for map container -->
    <style>
        #map {
            height: 80vh; 
            width: 100%;
        }
    </style>
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <a href="{{ url_for('home') }}">Search your city</a>
        <a href="{{ url_for('services_page') }}">Our Services</a>
        <a href="{{ url_for('contacts_page') }}">Contacts</a>
    </nav>

    <!-- Map Container -->
    <div id="map"></div>

    <!-- Footer Section -->
    <footer>
        <p>&copy; Water resources management platform for the 
            <a href="https://unitn.coursecatalogue.cineca.it/insegnamenti/2024/50296_642725_94365/2011/50296/10185?coorte=2023&schemaid=8396">2024BDT</a> project
        </p>
    </footer>

    <!-- Leaflet.js for map functionalities -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</body>
</html>
